<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- title of webpage -->
        <title> STADVDB </title>

        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="./css/global.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">

        <!-- Font Awesome icon library -->
        <script src="https://kit.fontawesome.com/77b56ec5f8.js" crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="./js/index.js"></script>
    </head>

    <body>
        <div id="main-body">
            <div id="id-summary">
                <div id="actors-ids">
                    <button id="random-actor-btn">
                        Random Actor
                    </button>
                    <div class="id-input">
                        <input type="number" id="actor-id">
                        <button id="search-actor-btn">
                            Search
                        </button>
                    </div>
                    <div class="id-box">
                        <table class="id-box-records">
                            <thead>
                                <tr>
                                    <th>Actor Name</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each actorIds}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{id}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="directors-ids">
                    <button id="random-director-btn">
                        Random Director
                    </button>
                    <div class="id-input">
                        <input type="number" id="director-id">
                        <button id="search-director-btn">
                            Search
                        </button>
                    </div>
                    <div class="id-box">
                        <table class="id-box-records">
                            <thead>
                                <tr>
                                    <th>Director Name</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each directorIds}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{id}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="movies-ids">
                    <button id="random-movie-btn">
                        Random Movie
                    </button>
                    <div class="id-input">
                        <input type="number" id="movie-id">
                        <button id="search-movie-btn">
                            Search
                        </button>
                    </div>
                    <div class="id-box">
                        <table class="id-box-records">
                            <thead>
                                <tr>
                                    <th>Director Name</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each movieIds}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{id}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>