<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- title of webpage -->
        <title> STADVDB </title>

        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/movie.css">

        <!-- Font Awesome icon library -->
        <script src="https://kit.fontawesome.com/77b56ec5f8.js" crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="../js/movie.js"></script>
    </head>

    <body>
        <h1 id="movie-name" class="section-header">{{name}}</h1>
        <div id="main-body">
            <p>Year: {{year}}</p>
            <p>Rank: {{rank}}</p>
            <p>Genres: {{genre}}</p>
            <p>Directed by: {{director}}</p>
            <p>Actors: {{actor1}}, {{actor2}}</p>
            <div class="h-spacer"></div>
            <h2 class="section-header">Edit Movie</h2>
            <form id="edit-movie" name="edit-movie" action="/movie/{{id}}/edit" method="post" autocomplete="off">
                <div>
                    <div>
                        <label for="edit-year">Year</label>
                        <input type="number" id="edit-year" name="editYear">
                    </div>

                    <div>
                        <label for="edit-rank">Rank</label>
                        <input type="number" id="edit-rank" name="editRank">
                    </div>
                </div>

                <label for="edit-name">Title</label>
                <input id="edit-name" name="editName">

                <label for="edit-genre">Genre</label>
                <input id="edit-genre" name="editGenre">

                <label for="edit-director">Director</label>
                <input id="edit-director" name="editDirector">

                <label for="edit-actor1">Actor 1</label>
                <input id="edit-actor1" name="editActor1">

                <label for="edit-actor2">Actor 2</label>
                <input id="edit-actor2" name="editActor2">

                <button id="edit-movie-btn" class="noselect" type="submit" disabled>Edit Movie</button>
                <span id="edit-movie-error-msg"></span>
            </form>
            <h2 class="section-header">Delete Movie</h2>
            <p>Enter the movie title (<code>{{name}}</code>) to confirm delete.</p>
            <input id="delete-movie">
            <button id="delete-movie-btn" disabled>Delete</button>
        </div>
    </body>
</html>